//muted and minimal
$dusty: #96858F;
$lavender: #6D7993;
$overcast: #9099A2;
$paper: #D5d5d5;
//400siple & fres
// $grain: #ccdfcb;
// $blackboard: #414141;
// $oxblood: #ff6a5c;
// $tan: #056571;

//muted minimal
// $grain: #D5d5d5;
// $blackboard: #6D7993;
// $oxblood: #9099A2;
// $tan: #96858F;
$darkblue: #113051;

// 09 warm tones
$grain: #d7cec7;
$blackboard: #565656;
$oxblood: #76323F;
$tan: #c09f80;

//40. simple & fresh
$matte: #414141;
$fresh: #ccdfcb;
$watermelon: #ff6a5c;
$teal: #056571;
